:root {
    --mainTextColor: #CDCDCD;
    --mainBackColor: #121212;
    --TitleSize-L: 68px;
    --TitleSize-M: 48px;
    --TitleSize-S: 36px;
    --FontSize-L: 18px;
    --FontSize-M: 14px;
    --FontSize-S: 14px;
}

/* GENERAL */

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 300px;

    box-sizing: border-box;

    background-color: var(--mainBackColor);
    color: var(--mainTextColor);
    font-size: var(--FontSize-L);
}

.main-container {
    width: 100%;
    margin: auto;
    max-width: 1200px;
}

h1 {
    font-size: var(--TitleSize-L);
    margin: 1rem 0 2rem 0;

}

/* NAV BAR */

.nav {
    align-items: center;
    flex-wrap: nowrap;
}

a:hover {
    opacity: 80%;
}

a.active {
    color: var(--mainTextColor);
}

.nav-link,
.nav-link:hover {
    font-size: (--mainFontSize);
    font-weight: bold;
    color: var(--mainTextColor);
}

section {
    height: calc(100vh - 100px);

    display: flex;
    flex-direction: column nowrap;
    align-items: center;
    justify-content: center;
}

/* SECTION ABOUT ME */
#about-me {
    width: 100%;
    margin: 3rem auto 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about-me article {
    display: flex;
    flex-flow: column nowrap;
}

#about-me img {
    width: 100%;
    max-width: 350px;
    min-width: 250px;
    border-radius: 50%;
}



/* only when flex-direction is row */
@media (min-width: 768px) {
    #about-me div:first-child {
        height: 250px;
        margin-right: 2rem;
    }
}

@media (max-width: 768px) {
    body {
        font-size: var(--FontSize-S);
    }

    h1 {
        font-size: var(--TitleSize-S);
    }
}

@media (min-width: 992px) {
    #about-me div:first-child {
        height: 300px;
    }
}

@media (min-width: 1200px) {
    header div:first-child {
        height: 350px;
    }
}